<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            客服管理<small>聊天管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
            <li><a href="#"> 聊天管理</a></li>
            <li class="active">客服管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">房间欢迎语</h3>

                <div class="box-tools pull-right">
                    <button onclick="diswel();" class="btn btn-success btn-sm">添加欢迎语</button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>内容</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php
                        select_query('fn_welcome','*',"roomid = {$_SESSION['agent_room']}");
                        while($con = db_fetch_array()){
                       ?>
                            <tr>
                                <td>
                                    <?php echo $con['id']; ?>
                                </td>
                                <td>
                                    <?php echo $con['content']; ?>
                                </td>
                                <td>
                                    <?php echo $con['addtime']; ?>
                                </td>
                                <td>
                                    <a href="javascript:delwel('<?php echo $con['id']; ?>');" class="btn btn-danger btn-sm">删除该条</a>
                                </td>
                            </tr>
                    <?php
                        }
                    ?>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">客服聊天</h3>
                   
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div> 
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>消息ID</th>
                                    <th>头像</th>
                                    <th>昵称</th>
                                    <th>内容</th>
                                    <th>时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                            <?php
                                select_query('fn_custom','*',"roomid = {$_SESSION['agent_room']} group by `userid`");
                                while($con = db_fetch_array()){
                                $conn[] = $con['userid'];
                                }
                                foreach($conn as $con1){

                                $con = get_query_vals('fn_custom','*',"`roomid`= {$_SESSION['agent_room']} and `type` = 'U2' and `userid` = '$con1' order by `id` desc limit 1");
                                if($con['type'] == 'S1'){continue;}
                                if(empty($con)){continue;}
                                
                            ?>
                                <tr>
                                    <td><?php echo $con['id']; ?></td>
                                    <td><img src="<?php echo $con['headimg']; ?>" alt="<?php echo $con['username']; ?>" width="35" height="35"></td>
                                    <td><?php echo $con['username']; ?></td>
                                    <td><?php echo $con['content']; ?></td>
                                   <td><?php echo $con['addtime']; ?></td>
                                    <td><?php if($con['status'] == '未读'){ ?><a href="#" class="label label-danger">新消息</a>
                                      <?php }else{echo '已回';} ?></td>
                                    <td><?php if($con['type'] == 'U2'){?><a href="javascript:custom('<?php echo $con['userid']; ?>')" class="btn btn-success btn-sm">回复</a></td>
                                   
                                </tr>
                            <?php        
                                }}
                            ?>
                            </tbody>
                         
                        </table>
                       <a href="javascript:delkefu('<?php echo $_SESSION['agent_room']; ?>');" class="btn btn-danger btn-sm">清空已读信息</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">房间消息</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>消息ID</th>
                                    <th>头像</th>
                                    <th>昵称</th>
                                    <th>内容</th>
                                    <th>房间</th>
                                  
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php
                                select_query('fn_chat','*',"roomid = '{$_SESSION['agent_room']}' and type = 'U1' order by id desc");
                                while($con = db_fetch_array()){
                                    switch($con['game']){
                                        case 'pk10': $game = '北京赛车'; break;
                                        case 'xyft': $game = '幸运飞艇'; break;
                                        case 'xy28': $game = '幸运28'; break;
                                        case 'jnd28': $game = '加拿大28'; break;
                                    }
                            ?>
                                <tr>
                                    <td><?php echo $con['id']; ?></td>
                                    <td><img src="<?php echo $con['headimg']; ?>" alt="<?php echo $con['username']; ?>" width="35" height="35"></td>
                                    <td><?php echo $con['username']; ?></td>
                                    <td><?php echo $con['content']; ?></td>
                                    <td><?php echo $game; ?></td>
                             
                                    <td><a href="javascript:sendmessage('<?php echo $con['userid']; ?>');" class="btn btn-success btn-sm">回复</a></td>
                                </tr>
                            <?php
                                }
                            ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="diswel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加欢迎语</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">欢迎语</span>
                    <input id="welcometext" type="text" class="form-control" placeholder="输入欢迎语,支持html代码">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" onclick="addwelcom();" class="btn btn-primary">添加</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="disroom">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">回复消息</h4>
            </div>
            <div class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" id="messages" style="height:550px;">

                        </div>
                        <!--/.direct-chat-messages-->
                    </div>
            <div class="box-footer">
                            <div class="input-group">
                                <input type="text" id="sendmsg" name="message" placeholder="发送消息 ..." class="form-control">
                                <span class="input-group-btn">
                        <button onclick="sendmsg()" class="btn btn-success btn-flat">发送</button>
                      </span>
                            </div>
                    </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $('.table').dataTable({
        "autoWidth":false,
        "bSort":false
    });

    function diswel(){
        $('#diswel').modal('toggle');
    }

    function addwelcom(){
        var text = $('#welcometext').val();

        if(text == ''){
            alert('欢迎语不得为空..');
            return
        }
        $.ajax({
            url: 'Application/ajax_addwelcome.php?t=add',
            type: 'post',
            data: {text: text},
            dataType: 'json',
            success: function(data){
                if(data.success){
                    alert('欢迎语添加成功!');
                    window.location.reload();
                }else{
                    alert(data.msg);
                }
            },
            error: function() { }
        })
    }

    function delwel(id){
        $.ajax({
            url: 'Application/ajax_addwelcome.php?t=del',
            type: 'post',
            data: {id: id},
            dataType: 'json',
            success: function(data){
                if(data.success){
                    alert('删除欢迎语成功!');
                    window.location.reload();
                }else{
                    alert(data.msg);
                }
            },
            error: function() { }
        })
    }
   function delkefu(agent_room){
        $.ajax({
            url: 'Application/ajax_delkefu.php',
            type: 'post',
            data: {roomid: agent_room},
            dataType: 'json',
            success: function(data){
                if(data.success){
                    alert('清空成功!');
                    window.location.reload();
                }else{
                    alert(data.msg);
                }
            },
            error: function() { }
        })
    }

    function yiduxinxi(id){
        $.ajax({
            url: 'Application/ajax_addwelcome.php?t=yiduxinxi',
            type: 'post',
            data: {id: id},
            dataType: 'json',
            success: function(data){
                if(data.success){
                    alert('标记已读成功!');
                    window.location.reload();
                }else{
                    alert(data.msg);
                }
            },
            error: function() { }
        })
    }
    function sendmessage(id){
        $('#disroom').data('id',id);
        $('#disroom').data('type','send');
        $('#disroom').modal('toggle');
    }
    
    function custom(id){
        $('#disroom').data('id',id);
        $('#disroom').data('type','custom');
        $('#disroom').modal({
    remote: FirstGetContent(id)
});
    }
/*
    function sendmsg(){
        var text = $('#sendtext').val();
        var id = $('#disroom').data('id');

        var url = "";
        if($('#disroom').data('type') == 'custom'){
            url = 'Application/ajax_addwelcome.php?t=sendcustom';
        }else{
            url = 'Application/ajax_addwelcome.php?t=sendmsg';
        }

        $.ajax({
            url: url,
            type: 'post',
            data: {text: text, id: id},
            dataType: 'json',
            success: function(data){
                if(data.success){
                    alert('回复完成!');
                    $('#sendtext').val('');
                    $('#disroom').modal('toggle');
                }else{
                    alert(data.msg);
                }
            },
            error: function() { }
        })
    }
  */
  
        var id = 0;
        //var userid = $('#xianshi').val();
        
        var first = true;
        var time = 0;
        
       // getgame(userid);
        //tablestart(userid);

        function sendmsg(){
            var userid = $('#disroom').data('id');
            var content = $('#sendmsg').val();
            $.ajax({
                url: 'Application/ajax_chat1.php?type=send&userid=' + userid,
                type: 'post',
                data: {content: content,userid:userid},
                dataType: 'json',
                success: function(data){
                   alert('发送成功');
                    $('#sendmsg').val('');
                    window.location.href="index.php?m=chat&c=custom";
                }
            });
        }
        function FirstGetContent(userid) {
            $.ajax({
                url: 'Application/ajax_chat1.php?type=first&userid=' + userid,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    addMessage(data);
                },
                error: function () { }
            });
            //setInterval(updateContent, 3000);
        }

        function updateContent() {
           var userid = $('#disroom').data('id');
            $.ajax({
                url: 'Application/ajax_chat1.php?type=update&userid=' + userid,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    addMessage(data);
                },
                error: function () { }
            });
        }

        function addMessage(data) {
        
            if (data == null || data.length < 0) {
                return;
            }
            //S1代理  S2待定  S3机器人  S4全局公告
            var str = "";
            for (i = 0; i < data.length; i++) {
                if (parseInt(data[i].id) > id) {
                    id = data[i].id;
                }
                var type = data[i].type;
                if (type.substr(0, 1) == 'U') {
                    str = str + '<div class="direct-chat-msg">'
                        + '<div class="direct-chat-info clearfix">'
                        + '<span class="direct-chat-name pull-left">'  + data[i].nickname + '</span>'
                        + '<span class="direct-chat-timestamp pull-right">' + data[i].addtime + '</span>'
                        + '</div>'
                        + '<img class="direct-chat-img" src="' + data[i].headimg + '" alt="message user image">'
                        + '<div class="direct-chat-text">' + data[i].content + '</div></div>';


                } else if (type == 'S3') {
                    var headimg = data[i].headimg == "" ? "/Style/images/robot.png" : data[i].headimg;
                    str = str + '<div class="direct-chat-msg right">'
                        + '<div class="direct-chat-info clearfix">'
                        + '<span class="direct-chat-name pull-right">' + data[i].nickname + '</span>'
                        + '<span class="direct-chat-timestamp pull-left">' + data[i].addtime + '</span>'
                        + '</div>'
                        + '<img class="direct-chat-img" src="' + headimg + '" alt="message user image">'
                        + '<div class="direct-chat-text">' + data[i].content + '</div></div>'
                } else if (type == 'S1') {
                    var headimg = data[i].headimg == "" ? "/Style/images/Sys.png" : data[i].headimg;
                    str = str + '<div class="direct-chat-msg right">'
                        + '<div class="direct-chat-info clearfix">'
                        + '<span class="direct-chat-name pull-right">'  + data[i].nickname + '</span>'
                        + '<span class="direct-chat-timestamp pull-left">' + data[i].addtime + '</span>'
                        + '</div>'
                        + '<img class="direct-chat-img" src="' + headimg + '" alt="message user image">'
                        + '<div class="direct-chat-text">' + data[i].content + '</div></div>'
                }
            }
            $('#messages').prepend(str);
        }
        function getgame(){
            $.ajax({
                url: 'Application/ajax_getcode.php?g=' + game,
                type: 'get',
                dataType:'json',
                success: function(data){
                    $('#term').text(data.term + '期');
                    $('#opencode').text(data.code);
                    time = data.time;
                    if(first){
                        gotime();
                        first = false;
                    }
                },
                error: function() { }
            });
        }
        function gotime(){
            time = time - 1;
            if(time < 0){
                getgame();
                $('#time').text('开奖中...');
                setTimeout(function() {
                    gotime();
                    tablestart();
                }, 5000);
                return;
            }
            
            $('#time').text(time + '秒');
            setTimeout(function() {
                gotime();
            }, 1000);
        }
        
        function tablestart(){
            $('#tableList').DataTable({
                "destroy": true,
                "searching":false,
                "scrollX": true,
                "lengthChange": false,
                "ajax":{
                    "url": "Application/ajax_getonline.php",
                    "dataSrc":function(json){
                        if(json.data[0] == 'null'){
                            return json;
                        }
                        for(var i=0;i<json.data.length; i++){
                            json.data[i][2] = "<a href='javascript:ban(\"" + json.data[i][2] + "\")' class='btn btn-danger btn-xs'>禁言玩家</a>";
                        }
                        return json.data;
                    }
                }
            });
        }

        function ban(id){
            $.ajax({
                url:'Application/ajax_banuser.php',
                type: 'post',
                data: {id: id},
                dataType: 'json',
                success: function( data ){
                    if(data.success){
                        alert('禁言成功..');
                    }else{
                        alert(data.msg);
                    }
                },
                error: function() { }
            })
        }
</script>