<link rel="stylesheet" href="plugins/iCheck/all.css">
<link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            极速六合彩
            <small>游戏设置</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
            <li><a href="#"> 游戏设置</a></li>
            <li class="active">极速六合彩</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">赔率设置</h3>

                <div class="box-tools pull-right">
                    <button type="button" onclick="$('#form1').submit();" class="btn btn-sm btn-warning">保存</button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <form id="form1" action="Application/gamesetting/ajax_savejslhc.php?form=form1" method="post">
                        <div class="col-md-6">
                        	<div class="input-group">
                                <span class="input-group-addon">生肖</span>
                                <input name="peilv_shengxiao" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','`shengxiao`',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <!--div class="input-group">
                                <span class="input-group-addon">平码一肖</span>
                                <input name="peilv_lvbo" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery13','lvbo',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/-->
                            <div class="input-group">
                                <span class="input-group-addon">小</span>
                                <input name="peilv_xiao" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">双</span>
                                <input name="peilv_shuang" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','shuang',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">蓝波</span>
                                <input name="peilv_lanbo" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','lanbo',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">特码</span>
                                <input name="peilv_haoma" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','haoma',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                          <div class="input-group">
                                <span class="input-group-addon">正码</span>
                                <input name="peilv_zhengma" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','zhengma',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <!--div class="input-group">
                                <span class="input-group-addon">2肖</span>
                                <input name="peilv_xiao2" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao2',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">3肖</span>
                                <input name="peilv_xiao3" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao3',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">4肖</span>
                                <input name="peilv_xiao4" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao4',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">5肖</span>
                                <input name="peilv_xiao5" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao5',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">正3中3</span>
                                <input name="peilv_zheng3" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','zheng3',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">正4中4</span>
                                <input name="peilv_zheng4" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','zheng4',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/-->
                        </div>
                        <div class="col-md-6">
                        	<div class="input-group">
                                <span class="input-group-addon">生肖含年</span>
                                <input name="peilv_shengxiaonian" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','shengxiaonian',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <!--div class="input-group">
                                <span class="input-group-addon">平码一肖含年</span>
                                <input name="peilv_lvbo" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery13','lvbo',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/-->
                        	<div class="input-group">
                                <span class="input-group-addon">大</span>
                                <input name="peilv_da" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','da',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">单</span>
                                <input name="peilv_dan" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','dan',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">红波</span>
                                <input name="peilv_hongbo" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','hongbo',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">绿波</span>
                                <input name="peilv_lvbo" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','lvbo',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <!--div class="input-group">
                                <span class="input-group-addon">2肖含年</span>
                                <input name="peilv_xiao2nian" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao2nian',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">3肖含年</span>
                                <input name="peilv_xiao3nian" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao3nian',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">4肖含年</span>
                                <input name="peilv_xiao4nian" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao4nian',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">5肖含年</span>
                                <input name="peilv_xiao5nian" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','xiao5nian',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">正2中2</span>
                                <input name="peilv_zheng2" type="number" class="form-control" step="0.01" placeholder="输入赔率..." value="<?php echo get_query_val('fn_lottery14','zheng2',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">下注限制</h3>

                        <div class="box-tools pull-right">
                          <?php if( $_SESSION['agent_user'] =='guest1'){
echo '<p>演示盘，无权限</p>';
}else{?>
                            <button type="button" onclick="$('#form2').submit();" class="btn btn-sm btn-success">保存</button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                          <?php}?>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <form id="form2" action="Application/gamesetting/ajax_savejslhc.php?form=form2" method="post">
                                <div class="col-md-6 col-sm-6">
                                	<div class="input-group">
                                        <span class="input-group-addon">生肖 单注最低</span>
                                        <input name="shengxiao_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','shengxiao_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <span class="input-group-addon">大小 单注最低</span>
                                        <input name="daxiao_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','daxiao_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">单双 单注最低</span>
                                        <input name="danshuang_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','danshuang_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">色波 单注最低</span>
                                        <input name="sebo_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','sebo_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br />
                                    <div class="input-group">
                                        <span class="input-group-addon">号码 单注最低</span>
                                        <input name="haoma_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','haoma_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">连肖 单注最低</span>
                                        <input name="lianxiao_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','lianxiao_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">连码 单注最低</span>
                                        <input name="lianma_min" type="number" class="form-control" placeholder="输入最低下注..." value="<?php echo get_query_val('fn_lottery14','lianma_min',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                	<div class="input-group">
                                        <span class="input-group-addon">生肖 单注最高</span>
                                        <input name="shengxiao_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','shengxiao_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">大小 单注最高</span>
                                        <input name="daxiao_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','daxiao_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">单双 单注最高</span>
                                        <input name="danshuang_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','danshuang_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">色波 单注最高</span>
                                        <input name="sebo_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','sebo_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">号码 单注最高</span>
                                        <input name="haoma_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','haoma_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">连肖 单注最高</span>
                                        <input name="lianxiao_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','lianxiao_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                        <span class="input-group-addon">连码 单注最高</span>
                                        <input name="lianma_max" type="number" class="form-control" placeholder="输入最高下注..." value="<?php echo get_query_val('fn_lottery14','lianma_max',array('roomid'=>$_SESSION['agent_room'])); ?>">
                                    </div>
                                    <br/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">其他设置</h3>

                        <div class="box-tools pull-right">
                          <?php if( $_SESSION['agent_user'] =='guest1'){
echo '<p>演示盘，无权限</p>';
}else{?>
                            <button type="button" onclick="$('#form3').submit()" class="btn btn-sm btn-success">保存</button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                          <?php}?>
                        </div>
                    </div>
                    <div class="box-body">
                        <form id="form3" action="Application/gamesetting/ajax_savejslhc.php?form=form3" method="post">
                            <div class="form-group">
                                <label>
                                <input name="opengame" type="checkbox" class="flat-red" <?php if(get_query_val('fn_lottery14','gameopen',array('roomid'=>$_SESSION['agent_room'])) == 'true') echo 'checked'; ?>>
                                    开启游戏
                                </label>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">封盘时间</span>
                                <input name="fengtime" type="number" class="form-control" placeholder="输入封盘时间..." value="<?php echo get_query_val('fn_lottery14','fengtime',array('roomid'=>$_SESSION['agent_room'])); ?>">
                            </div>
                            <br/>
                        </form>
                    </div>
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">彩种规则设置</h3>

                        <div class="box-tools pull-right">
                          <?php if( $_SESSION['agent_user'] =='guest1'){
echo '<p>演示盘，无权限</p>';
}else{?>
                            <button type="button" onclick="$('#form4').submit();" class="btn btn-sm btn-success">保存</button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                          <?php}?>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form id="form4" action="Application/gamesetting/ajax_savejslhc.php?form=form4" method="post">
                            <textarea name="customcont" class="textarea" placeholder="设置彩种规则" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><?php echo get_query_val('fn_lottery14','rules',array('roomid'=>$_SESSION['agent_room'])); ?></textarea>
                        </form>
                    </div>
                    <div class="box-footer">
                        <center><b>如要使用默认样式 请直接修改要修改的文字即可</b></center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<script src="plugins/iCheck/icheck.min.js"></script>
<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
<script src="plugins/bootstrap-wysihtml5/locale/zh-CN.js"></script>
<script>
    $('input[type="checkbox"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });
    /*$(".textarea").wysihtml5({
        locale: 'zh-CN',
        toolbar: {
            'html': true,
            'color': true
        }
    });*/
</script>